body, html {overflow-y: hidden; }


.infoContainer
{
  position: absolute;
  top: 30px; width: 100%;
  padding: 5px;
  left: 800px;
  color: orange;
  font-size: 1.2em;
}

.cursive
{
  font-family: cursive;
}
h3
{
  color: red;
  font-size: 1.6em
}

#first
{
  font-weight: bold;
  font-size: 1.1em;
  color: #B34952;
}

a
{
  color: orange;
  text-decoration: none;
}

