body, html {overflow-y: hidden; }


.infoContainer
{
  position: absolute;
  top: 30px; width: 100%;
  padding: 5px;
  left: 800px;
  color: blue;
  font-size: 1.2em;
}

.cursive
{
  font-family: cursive;
}

#first
{
  color: orange;
  font-weight: bold;
  font-size: 1.1em;
}

#last
{
  color: orange;
  font-weight: bold;
}